#header {
  margin-top: 50px;
}

#header h1 {
  color: #68A9FF;
  margin-bottom: 0;
}

#content {}

#content .add-scoreboard {
  text-align: center;
}

#content .new-scoreboard .submitter {
}

#content .scorekeeper .columns {
  padding-top: 30px;
  margin: 0 auto;
  float: none;
}

#content .scorekeeper table {
}

#content .scorekeeper table td {
  text-align: center;
}

#content .scorekeeper table tr.add-score td input {
  width: 50px;
  text-align: center;
}

#content .scorekeeper table tr.add-score td input[type=number]::-webkit-inner-spin-button,
#content .scorekeeper table tr.add-score td input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content .scorekeeper table td.table-buttons .button {
  margin-left: 10px;
  margin-right: 10px;
}

#content .scorekeeper table tfoot, #content .scorekeeper table thead {
  font-weight: bold;
}

#content .scorekeeper table tfoot td {
  border-top: 2px solid black;
}

#content .add-scoreboard {
  margin-top: 100px;
}

#footer {
  margin-top: 100px;
  font-size: 0.9em;
}
